@import "variables";

.menu-item {
  .menu-item-img-wrap {
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .modifier-group {
    .modifier-group-name {
      border-bottom: $primary 2px solid;
    }
  }

  .menu-item-quantity {
    font-size: 1.5rem;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 80px;
    text-align: center;
  }

  .btn-cart {
    color: $light;

    &.disabled {
      color: $dark;
      background-color: $gray-500;
    }
  }

  .menu-item-footer {
    min-height: 3em;
  }

  .modifier-list {
    .modifier-radio {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }
}
