@import "variables";

#addressModal {
  .input-address {
    position: relative;

    > i {
      position: absolute;
      right: 15px;
      top: calc(1.25rem);
    }
  }
}

#scheduleModal {
  .date-picker {
    a {
      &:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }

      &:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      &.active {
        background-color: $dark;
        color: $light;
      }
    }
  }

  .time-picker {
    .time-picker-item {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      background-color: $gray-300;
      color: $dark;
      height: 30px;
      cursor: pointer;

      &.active {
        background-color: $dark;
        color: $white;
        opacity: 0.8;
      }
    }
  }
}