@import "variables";

.pagination {
  .page-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border-width: 1px;
    border-color: $gray-300;
    background-color: transparent;
    margin: 0 2px;
    &:last-child .page-link {
      border: 0;
      color: $primary;
  }
  

    .page-link {
      display: flex;
      align-items: center;
      justify-content: center;

      color: $dark;
      text-decoration: none;
      border: none;
      background-color: transparent;
      transition: none;

      border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    border-radius: 100%;
   

      &:focus, &:active {
        z-index: 3;
        outline: 0;
        box-shadow: none;
        border: 1px solid $primary;
       
      }
      .active .page-link{
        background: $primary;
        color: #fff;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        border: 1px solid $primary;
      }
    }

    &:active, &:focus, &:hover {
      background-color: $primary;
      border: 1px solid $primary;

      .page-link {
        color: $white;
        border: 1px solid $primary;
      }
    }
  }
}

