@import "variables";

.purchased-container {
  padding-top: 30px;

  .purchased-title {
    font-size: calc(1.375rem + 1.5vw);
  }

  .btn-continue {
    border-radius: 15px;
  }

  .purchased-item-list {
    .purchased-item {
      .purchased-item-quantity {
        min-width: 40px;
      }

      .purchased-item-modifier {
        font-weight: lighter;

        &:before {
          content: "\2013";
        }
      }
    }
  }
}
